@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #131518;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    font-family: "Overpass";
    section{
        padding: 32px;
        width: 412px;
        height: 416px;
        background: linear-gradient(#232A34, #181E27);
        border-radius: 30px;
        .circle{
            width: 68px;
            height: 68px;
            background-color: #262E38;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 22px;
                height: 22px;
            }
        }
        .title{
            color: #FFFFFF;
            font-size: 33px;
        }
        .para{
            color: #969FAD;
            font-size: 19px;
            line-height: 29px;
            font-weight: 400;
            
        }
        .btns{
            display: flex;
            justify-content: space-between;
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                background-color: #262E38;
                border-radius: 50%;
                color: #7C8798;
                border: none;
                font-size: 16px;
                transition: 0.3s;
            }
            .btn:hover{
                background-color: #7C8798;
                color: white;
            }
        }
        .submit{
            background-color: #FC7614;
            color: white;
            width: 415px;
            height: 55px;
            margin-top: 32px;
            border: none;
            border-radius: 23px;
            font-size: 20px;
            letter-spacing: 2px;
            transition: 0.4s;
        }
        .submit:hover{
            background-color: white;
            color: #FC7614;
        }
    }
}